.app-button{

    border:none;

    border-radius:var(--radius-lg);

    cursor:pointer;

    font-weight:600;

    transition:all var(--animation-normal);

}

.app-button-md{

    height:56px;

    padding:0 22px;

    font-size:16px;

}

.app-button-sm{

    height:44px;

    padding:0 16px;

    font-size:14px;

}

.app-button-lg{

    height:62px;

    padding:0 26px;

    font-size:17px;

}

.app-button-primary{

    background:var(--color-primary);

    color:white;

}

.app-button-primary:hover{

    transform:translateY(-2px);

    box-shadow:var(--shadow-md);

}

.app-button-outline{

    background:transparent;

    color:var(--color-primary);

    border:1px solid var(--color-primary);

}

.app-button-danger{

    background:var(--color-danger);

    color:white;

}

.app-button-full{

    width:100%;

}

.app-button:disabled{

    opacity:.55;

    cursor:not-allowed;

}